/* Carousel.css */

.full-width-carousel {
  width: 70%;
}

.full-width-slide {
  width: 100vw;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-slide img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.slide-image {
  width: 100%;
  height: auto;
}


/* Left and right boxes */
.Right-box {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.Left-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 8%;
}

.my-button {
  background-color: #00c28e;
  color: #c11c1c;
  text-transform: none;
  border-radius: 200px;
  height: 45px;
  width: 175px;
  font-weight: 600;
}

.my-button:hover {
  background-color: #00c28e;
}

/* background box css */
.BoxOne {
  background: radial-gradient(
    210.08% 135.02% at 108.75% 6.07%,
    #f8fafc 0%,
    #d4fff3 26.96%,
    #cddbff 51.12%,
    #d3fff3 71.15%,
    #fafbfd 100%
  );
  padding: 35.5px;
  height: 80%;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
}

/* background dots css */
.grid-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.grid-right {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.top-middle {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* color: rgba(0, 0, 0, 0.6) */
}
