/* From Uiverse.io by Donewenfu */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -30px; /* increased spacing */
}

.jimu-primary-loading:after {
  left: 30px; /* increased spacing */
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #00c28e;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 15px; /* increased width */
  height: 48px; /* increased height */
  border-radius: 8px; /* adjusted border-radius */
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #00c28e;
    height: 45px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -12px #00c28e;
    height: 55px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #00c28e;
    height: 45px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -12px #00c28e;
    height: 55px;
  }
}
