.navbar {
  background: #fefffe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 40px;
  flex-direction: row;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.menu-item {
  background-color: #333;
  min-height: 100vh;
  min-width: 100%;
}

.outer-box-menu {
  background: #ffffff99;
  padding: 5%;
  width: 100%;
  border-radius: 8px;

  /* height: 48vh; */
}

.inner-box-menu {
  background-color: #fff;
  padding: 4%;
  border-radius: 8px;
}
