.analysis-main {
  background: radial-gradient(
    210.08% 135.02% at 108.75% 6.07%,
    #f8fafc 0%,
    #d4fff3 26.96%,
    #cddbff 51.12%,
    #d3fff3 71.15%,
    #fafbfd 100%
  );
  min-height: 100vh;
}

.analysis-content {
  display: flex;
  flex-direction: column;
  margin: 0px 6%;
}

.analysis-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
  /* margin-right: 40px; */
  margin-bottom: 1%;
}

.analysis-header-left {
  display: flex;
  align-items: center;
}

.good-fit-icon {
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 1px;
  font-size: 2px;
}

.analysis-heading {
  /* font-size: 1.5rem;
  font-weight: 600; */
  color: #333;
  padding: 5px 40px;
  padding-left: 5px;

  /* margin-right: 36px; */
}

.score-card {
  background-color: #ffffff;
  padding: 4%;
  border-radius: 8px;
  width: 85%;
  z-index: 100;
}

.score {
  color: #00c28e;
  /* border-radius: 35px; */
}

.outer-box {
  background: #ffffff99;
  padding: 5%;
  height: 48vh;
  margin-top: 2rem;
  border-radius: 8px;
  width: 85%;
  z-index: 100;
  /* display: flex; */
  /* justify-content: center; */
}

.inner-box {
  background-color: #fff;
  padding: 5%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.box-container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  color: #af85ff;
}

.title,
.detail {
  padding: 8px 0;
}

.detail {
  color: #333;
  border-top: 1px solid rgb(186, 183, 183);
}

.left-grid {
  position: fixed;
  bottom: 0;
  left: 0;
}
.right-grid {
  position: fixed;
  bottom: 0;
  right: 0;
}
