# Web framework
Flask==2.3.3
Werkzeug==2.3.7

# PDF processing
PyPDF2==3.0.1

# Environment variables
python-dotenv==1.0.0

# AWS integration
boto3==1.28.44

gunicorn==21.2.0


# MongoDB integration
pymongo==4.5.0

# OpenAI API
openai

# # WhatsApp/Twilio integration
# twilio==8.5


flask-cors==6.0.0